main
  - var breadcrumbsLinks = [{ title: 'Главная', link: 'index.html' }, { title: 'Каталог', link: 'catalog.html' }, { title: 'Диваны', link: 'catalog.html' }, { title: 'Прямые диваны', link: 'catalog.html' }]
  include ./components/breadcrumbs
  include ./main/catalog
