footer.footer
  .footer__container.container
    a.footer__logo(href="#")
      img.footer__img(src="images/logo.svg" alt="Логотип компании SDP.ru")
    ul.footer__social.social
      li.social__item
        a.social__link(href="#")
          svg.social__icon
            use( xlink:href="images/sprite.svg#fb" )
      li.social__item
        a.social__link(href="#")
          svg.social__icon
            use( xlink:href="images/sprite.svg#vk" )
      li.social__item
        a.social__link(href="#")
          svg.social__icon
            use( xlink:href="images/sprite.svg#instagram" )
    nav.footer__nav.nav
      ul.nav__list
        li.nav__item О нас
        li.nav__item
          a.nav__link.link.link--gray(href="#") О компании
        li.nav__item
          a.nav__link.link.link--gray(href="#") Блог
      ul.nav__list
        li.nav__item Услуги
        li.nav__item
          a.nav__link.link.link--gray(href="#") Доставка
        li.nav__item
          a.nav__link.link.link--gray(href="#") Рассрочка и кредит
        li.nav__item
          a.nav__link.link.link--gray(href="#") Сборка и установка
      ul.nav__list
        li.nav__item Связь с нами
        li.nav__item
          a.nav__link.link.link--gray(href="#") Обратная связь
        li.nav__item
          a.nav__link.link.link--gray(href="#") Контакты
      ul.nav__list
        li.nav__item Сотрудничество
        li.nav__item
          a.nav__link.link.link--gray(href="#") Поставщикам
        li.nav__item
          a.nav__link.link.link--gray(href="#") Оптовикам
        li.nav__item
          a.nav__link.link.link--gray(href="#") Карьера
.copyright
  .container.copyright__container
    span.copyright__text SDP®
    span.copyright__text 2011-2021
