main
  h1.title Sdp. сайт по продаже мебели - страница товара
  - var breadcrumbsLinks = [{ title: 'Главная', link: 'index.html' }, { title: 'Каталог', link: 'catalog.html' }, { title: 'Диваны', link: 'catalog.html' }, { title: 'Прямые диваны', link: 'catalog.html' }, { title: 'D-31', link: 'product.html' }]
  include ./components/breadcrumbs
  include ./main/product
  include ./main/alike
  include ./components/modal

