.breadcrumbs {
  margin-bottom: 34px;
  padding-top: 2px;
  @media (max-width: $table-h) {
    margin-bottom: 23px;
    padding-top: 5px;
  }
  @media (max-width: $mobile) {
    display: none;
  }
  &__list {
    @include listReset;
    display: flex;
  }
  &__item {
    color: $gray;
    margin-right: 15px;
    position: relative;
    &:not(:last-child) {
      &:before {
        content: '/';
        position: absolute;
        top: 2px;
        right: -13px;
        font-size: 14px;
      }
    }
    &:last-child {
      margin-right: 0;
      color: $primary;
    }
  }
  &__link {
    color: inherit;
    font-size: 14px;
  }
}
