section.category
  div.category__container.container
    h2.container__title.category__title Топ категории
    ul.category__list
      li.category__item
        ul.category__sub-list
          li.category__sub-item
            a.category__link(href="./catalog.html") Прямые
          li.category__sub-item
            a.category__link(href="#") Угловые
          li.category__sub-item
            a.category__link(href="#") Модульные
        h3.category__name
          a.category__name-link(href="#") Диваны
            span.category__arrow
        picture.category__picture
          source(srcset="./images/category-1-320.png" media="(max-width:500px)")
          source(srcset="./images/category-1-1024.png" media="(max-width:1300px)")
          img(src='./images/category-1.png' alt="Диваны").category__img
        a.category__link-catalog(href="#")
          span.category__link-text В каталог
          span.category__arrow
      li.category__item
        ul.category__sub-list
          li.category__sub-item
            a.category__link(href="#") Мягкие
          li.category__sub-item
            a.category__link(href="#") Кресла-кровати
        h3.category__name
          a.category__name-link(href="#") Кресла
            span.category__arrow
        picture.category__picture
          source(srcset="./images/category-2-320.png" media="(max-width:500px)")
          source(srcset="./images/category-2-1024.png" media="(max-width:1300px)")
          img(src='./images/category-2.png' alt="Кресла").category__img
        a.category__link-catalog(href="#")
          span.category__link-text В каталог
          span.category__arrow
      li.category__item
        ul.category__sub-list
          li.category__sub-item
            a.category__link(href="#") Односпальные
          li.category__sub-item
            a.category__link(href="#") Двуспальные
        h3.category__name
          a.category__name-link(href="#") Кровати
            span.category__arrow
        picture.category__picture
          source(srcset="./images/category-3-320.png" media="(max-width:500px)")
          source(srcset="./images/category-3-1024.png" media="(max-width:1300px)")
          img(src='./images/category-3.png' alt="Кровати").category__img
        a.category__link-catalog(href="#")
          span.category__link-text В каталог
          span.category__arrow
      li.category__item
        ul.category__sub-list
          li.category__sub-item
            a.category__link(href="#") Тумбы
          li.category__sub-item
            a.category__link(href="#") Комоды
        h3.category__name
          a.category__name-link(href="#") Тумбы и&nbsp;комоды
            span.category__arrow
        picture.category__picture
          source(srcset="./images/category-4-320.png" media="(max-width:500px)")
          source(srcset="./images/category-4-1024.png" media="(max-width:1300px)")
          img(src='./images/category-4.png' alt="Тумбы и комоды").category__img
        a.category__link-catalog(href="#")
          span.category__link-text В каталог
          span.category__arrow
      li.category__item
        ul.category__sub-list
          li.category__sub-item
            a.category__link(href="#") Деревянные
          li.category__sub-item
            a.category__link(href="#") Металлокаркас
        h3.category__name
          a.category__name-link(href="#") Стулья
            span.category__arrow
        picture.category__picture
          source(srcset="./images/category-5-320.png" media="(max-width:500px)")
          source(srcset="./images/category-5-1024.png" media="(max-width:1300px)")
          img(src='./images/category-5.png' alt="Стулья").category__img
        a.category__link-catalog(href="#")
          span.category__link-text В каталог
          span.category__arrow
