section.hero
  h1.title Sdp. сайт по продаже мебели
  .hero__slider.swiper
    .swiper-wrapper
      .swiper-slide.swiper-slide-hero.swiper-slide-one
       .container
         h2.hero__title Скидка 15%  на первую покупку
         button.hero__btn.btn.btn.btn--primary Получить!
      .swiper-slide.swiper-slide-hero.swiper-slide-two
        .container
          h2.hero__title 1000+ аксессуаров для дома
          button.hero__btn.btn.btn.btn--primary Получить!
      .swiper-slide.swiper-slide-hero.swiper-slide-three
        .container
          h2.hero__title.hero__title-white Коллекция стильного  и яркого текстиля
          button.hero__btn.btn.btn.btn--primary Получить!
    .swiper-pagination.swiper-pagination-hero
