section.special
  .container.special__container
    h2.container__title.special__title Полезное
    .special__btn.btn.btn--slider
      .swiper-button-prev.special__button-prev.btn.btn--slider-prev
      .swiper-button-next.special__button-next.btn.btn--slider-next
    .swiper.special__slider
      .swiper-wrapper.special__slides
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(src="images/special-1.jpg" alt="Изображиние рубрики")
          h3.special__text И нет сомнений, что сделанные на базе интернет‑аналитики выводы представляют собой не что иное?
          button.btn.btn--border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(src="images/special-2.jpg" alt="Изображиние рубрики")
          h3.special__text Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          button.btn.btn--border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(src="images/special-3.jpg" alt="Изображиние рубрики")
          h3.special__text Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          button.btn.btn--border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(src="images/special-4.jpg" alt="Изображиние рубрики")
          h3.special__text Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
          button.btn.btn--border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(src="images/special-5.jpg" alt="Изображиние рубрики")
          h3.special__text Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          button.btn.btn--border.special__btn Читать
